<div id="footer" class="panel">
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					&copy Boyang Li 2020<br />
					Aeronautical and Aviation Engineering<br />
					The Hong Kong Polytechnic University
				</div>
				<div class="col-sm-4">
					Contact:<br />
					<a href="mailto:boyli@polyu.edu.hk" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contact via email</a> <br />
					<a href="https://www.linkedin.com/in/boyang-li-10398480" target="_blank"><i class="fa fa-linkedin fa-1x"></i> Linkedin</a>
					<a href="https://twitter.com/BoyangLi" target="_blank"><i class="fa fa-twitter fa-1x"></i> Twitter</a>
					<a href="https://github.com/Boyang--Li"><i class="fa fa-github fa-1x"></i> Github</a>
				</div>
				<div class="col-sm-4">
					Address:<br />
					PQ407, 11 Yuk Choi Rd<br />
					Hung Hom, Kowloon, Hong Kong (<a href="https://goo.gl/maps/dScMtr1dBdkizUKu5">Map</a>)
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ boyangli.com }}/js/bootstrap.min.js"></script>
